:host {
    width: 100%;
}

.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    height: 60px;
}

.first-tab,
.second-tab,
.third-tab {
    cursor: pointer;
    font-size: 14px;
    color: black;
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    background: none;
    outline: none;
    padding: 0 16px;

    &:hover {
        opacity: 0.5;
    }

    &.active {
        color: red;
    }
}

.first-tab {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}