:host {
    width: 100%;
}

.header {
    display: flex;
    height: 60px;
}

.first-tab,
.second-tab,
.third-tab {
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    color: black;
    border: none;
    background: none;
    outline: none;
    padding: 0 16px;

    &:hover {
        opacity: 0.5;
        background-color: rgba(185, 180, 183, 0.73);
    }

    &.active {
        color: red;
    }
}
